.example-container {
  width: 100px;
  height: 250px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  /* justify-content: center; */
  margin-top: 52px;
  margin-left: 10px;
  flex-direction: column;
}

.example-sidenav {
  padding: 20px;
}

mat-grid-tile {
  background: lightblue;
}
